@import "../../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/material-icons.woff2')
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-size: 24px;
}
