<div class="md-camera-container" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
  <div fxFlex fxLayoutAlign="center center">
    <img class="md-camera-stream" [src]="'https://remanent-liger-7850.dataplicity.io/stream'">
  </div>
  <div fxLayout="row" class="md-camera-bottom-actions" fxLayoutAlign="center center" fxLayoutGap="26px">
    <button mat-icon-button>
      <mat-icon>tune</mat-icon>
    </button>
    <button mat-fab color="accent">
      <mat-icon>camera</mat-icon>
    </button>
    <button mat-icon-button (click)="goToGallery()">
      <mat-icon>photo_library</mat-icon>
    </button>
  </div>
</div>
