.md-sidenav {
  width: 240px;
}

.md-app-container {
  overflow: auto;
  height: 100%;
  /*height: calc(100% - 64px);*/
}

.md-app-content {
  height: 100%;
  /*height: calc(100% - 58px);*/
  /*padding-top: 12px;*/
}
