<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav mode="over" class="md-sidenav">
    Sidenav
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill style="overflow: hidden">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Motion Detector</span>
    </mat-toolbar>
    <div class="md-app-container">
      <div class="md-app-content">
        <router-outlet fxFlexFill></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


