.md-sidenav {
  width: 220px;
}

.md-sidenav-avatar {
  width: 96px;
  height: 96px;
  font-size: 96px;
  margin: 16px 16px 8px;
}

.md-sidenav-username{
  padding-left: 26px;
}

.md-app-container {
  overflow: auto;
  height: 100%;
}
