<div fxFlexFill fxLayoutAlign="center center">
  <div class="md-login-top"></div>
  <div class="md-login-bottom"></div>
  <mat-card class="md-login-card-container">
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-icon svgIcon="shield" class="md-login-card-icon"></mat-icon>
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="credentials.username"
               id="username" mdMoveOnEnter="password" type="text" required placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="credentials.password"
               id="password" mdMoveOnEnter="submit"
               type="password" required placeholder="Password">
      </mat-form-field>
      <br>
      <button mat-button (click)="logIn()" id="submit">
        Login
        <mat-icon fxFill>navigate_next</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
